*,
*::before,
*::after {
    box-sizing: border-box;
}

// base styles
.app {
    // min-height: 100vh;
    margin: 0;
    font: 400 1.5rem/1.6 'Poppins', sans-serif;
}

.hero {
    min-height: 5vh;

    &__heading {
        margin: 0;
    }
}

.container {
    width: min(90%, 75em); 
    margin-inline: auto;
    // border: 1px solid black;
}

.flex {
    display: flex;

    &--hero {
        justify-content: center;
        align-items: center;
    }

    &--access {
        flex-direction: column;
        align-items: center;
    }

    &--food {
        justify-content: space-around;
        align-items: center;
    }

    &--data {
        align-items: flex-start;
        justify-content: space-around;
    }

    &--pantry {
        justify-content: space-around;
        align-items: center;
    }
}

// section.access
.access {
    // min-height: 15vh;
    border: 1px solid black;
}

// section.food
.food {
    min-height: 5vh;
}

// section.data

.data {
    min-height: 75vh;
}

.pantry {
    min-height: 75vh;
    width: 45%;
    border: 1px solid #000000;
    
    &__heading {
        text-align: center;
        text-transform: capitalize;
    }

    &__top {
        height: calc(100% - 60vh);
    }

    &__bottom {
        height: 60vh;
        overflow-y: scroll;
    }
}

.calories {
    text-align: center;
}

.stats {
    position: relative;
    min-height: 75vh;
    width: 45%;
}

// snackbar settings
.snackbar {
    display: inline-block;
    position: fixed;
    background: #323232;
    color: #f1f1f1;
    min-height: 50px;
    min-width: 290px;
    padding: 16px 24px 12px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    bottom: 1rem;
    left: 1rem;
    font-size: 90%;
    transition: visibility 0.3s, transform 0.3s;
    transform: translateY(100px);
    visibility: hidden;
    will-change: transform;
  }
  
  .snackbar--visible {
    visibility: visible;
    transform: none;
  }