*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// base styles
.app {
    font: 400 1.5rem/1.6 'Poppins', sans-serif;

    &__container {
        height: 100vh;
        width: min(90vw, 80em);
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
            "hero hero hero hero"
            "access food food food"
            "pantry pantry chart chart";
    }
}

::-webkit-scrollbar {
    width: 0.20em;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #665555;
    border-radius: 100vw;
}

.flex {
    display: flex;

    &--food {
        justify-content: center;
        align-items: center;
    }

    &--console {
        align-items: center;
        justify-content: space-around;
    }
}

.container {
    width: min(90vw, 75em);
    margin-inline: auto;
}

// section.hero
.hero {
    grid-area: hero;

    &__heading {
        text-align: center;
        padding: 1em 0;
    }
}

// section.access
.access {
    grid-area: access;
}

// section.food
.food {
    grid-area: food;
}

// section.pantry
.pantry {
    grid-area: pantry;
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "top"
        "bottom";
    
    &__top {
        grid-area: top;
    }

    &__heading {
        text-align: center;
        text-transform: capitalize;
    }

    &__bottom {
        grid-area: bottom;
        padding: 1em 0;
        overflow-y: scroll;
        // border: 1px solid black;
    }

    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1em;
        // place-items: center;
    }

    &__item {

    }
    
}

.card {
    border: 1px solid black;
    text-align: center;
    border-radius: 2em;
    margin: 0 1em;
    box-shadow: 0 0 1rem #000;

    &__heading {
        text-transform: capitalize;
    }

    &__text {
        margin: 0.5em 0;
    }

    &__list {
        list-style: none;
        margin-bottom: 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {

    }

    &__carbs {
        margin-left: 0.5em;

        .card__icon {
            color: red;
        }
    }

    &__protein {
        margin: 0 0.5em;

        .card__icon {
            color: blue;
        }
    }

    &__fat {
        margin-right: 0.5em;

        .card__icon {
            color: yellow;
        }
    }
    
}

.calories {
    text-align: center;
}


// section.stats
.stats {
    grid-area: chart;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    padding: 1em;
}

//buttons
.btn {
    border: initial;
    // background: initial;
    font: inherit;
    
    &--delete {
        text-transform: uppercase;
        margin-bottom: 0.5em;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.25em 0.5em;
    }
}

// snackbar settings
.snackbar {
    display: inline-block;
    position: fixed;
    background: #323232;
    color: #f1f1f1;
    min-height: 50px;
    min-width: 290px;
    padding: 16px 24px 12px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    top: 2rem;
    left: 1rem;
    font-size: 90%;
    transition: visibility 0.3s, transform 0.3s;
    transform: translateY(-100px);
    visibility: hidden;
    will-change: transform;
  }
  
  .snackbar--visible {
    visibility: visible;
    transform: none;
  }