*,
*::before,
*::after {
    box-sizing: border-box;
}

// base styles
.app {
    margin: 0;
    font: 400 1.5rem/1.6 'Poppins', sans-serif;

    &__container {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
            "hero hero hero hero"
            "access food food food"
            "pantry pantry chart chart";
    }
}

::-webkit-scrollbar {
    width: 0.20em;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 100vw;
}

.flex {
    display: flex;

    &--food {
        justify-content: center;
        align-items: center;
    }

    &--console {
        align-items: center;
        justify-content: space-around;
    }

    &--bottom {
        flex-wrap: wrap;
    }
}

.hero {
    grid-area: hero;
    background-color: red;

    &__heading {
        text-align: center;
        margin: 0;
        padding: 1em 0;
    }
}

.access {
    grid-area: access;
    background-color: greenyellow;
}

.food {
    grid-area: food;
    background-color: brown;
}

.pantry {
    grid-area: pantry;
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "top"
        "bottom";
    
    background-color: blue;
    
    &__top {
        grid-area: top;
    }

    &__bottom {
        grid-area: bottom;
        overflow-y: scroll;
        direction: rtl;
    }

    &__heading {
        text-align: center;
        text-transform: capitalize;
        margin: 0;
    }
}

.calories {
    text-align: center;
}

.stats {
    grid-area: chart;
    background-color: orange;
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

//buttons

// snackbar settings
.snackbar {
    display: inline-block;
    position: fixed;
    background: #323232;
    color: #f1f1f1;
    min-height: 50px;
    min-width: 290px;
    padding: 16px 24px 12px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    top: 2rem;
    left: 1rem;
    font-size: 90%;
    transition: visibility 0.3s, transform 0.3s;
    transform: translateY(-100px);
    visibility: hidden;
    will-change: transform;
  }
  
  .snackbar--visible {
    visibility: visible;
    transform: none;
  }