*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  height: 100vh;
  font: 500 1.25rem/1.2 "Poppins", sans-serif;
  background: linear-gradient(to bottom, #5e4c5a, #55917f, #E1F0C4);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffe2d1;
}
.app__container {
  height: 100%;
  width: min(90vw, 80em);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "hero hero hero hero" "access food food food" "pantry pantry chart chart";
}

::-webkit-scrollbar {
  width: 0.2em;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #665555;
  border-radius: 100vw;
}

.flex {
  display: flex;
}
.flex--access {
  justify-content: space-between;
  align-items: flex-end;
}
.flex--food {
  justify-content: space-around;
  align-items: flex-end;
}
.flex--console {
  align-items: center;
  justify-content: space-around;
}

.hero {
  grid-area: hero;
}
.hero__heading {
  font: 600 3rem "Poppins", sans-serif;
  text-align: center;
  padding: 0.5em 0;
  letter-spacing: 0.05em;
}

.translate {
  display: inline-block;
  animation: slide-in 400ms backwards;
  transition: all 250ms;
  margin-left: -0.25em;
}
.translate:hover {
  transform: translateY(-20px);
}
.translate--1 {
  animation-delay: 0ms;
}
.translate--2 {
  animation-delay: 75ms;
}
.translate--3 {
  animation-delay: 150ms;
}
.translate--4 {
  animation-delay: 225ms;
}
.translate--5 {
  animation-delay: 300ms;
}
.translate--6 {
  animation-delay: 375ms;
}
.translate--7 {
  animation-delay: 450ms;
}
.translate--8 {
  animation-delay: 525ms;
}
.translate--9 {
  margin-right: 0.25em;
  animation-delay: 600ms;
}
.translate--10 {
  animation-delay: 675ms;
}
.translate--11 {
  animation-delay: 750ms;
}
.translate--12 {
  animation-delay: 825ms;
}
.translate--13 {
  animation-delay: 900ms;
}
.translate--14 {
  animation-delay: 975ms;
}
.translate--15 {
  animation-delay: 1050ms;
}
.translate--16 {
  animation-delay: 1125ms;
}
.translate--17 {
  animation-delay: 1200ms;
}
.translate--18 {
  animation-delay: 1275ms;
}
.translate--19 {
  animation-delay: 1350ms;
}

.access {
  grid-area: access;
}
.access__label {
  font-size: 1.375rem;
}
.access__name {
  font: inherit;
  background: #ffe2d1;
  color: #5e4c5a;
  border: 0.125rem solid rgba(94, 76, 90, 0.5);
  border-radius: 0.25rem;
}
.access__name::placeholder {
  color: #5e4c5a;
}

.food {
  grid-area: food;
}
.food__label {
  font-size: 1.375rem;
}
.food__name, .food__grams {
  font: inherit;
  background: #ffe2d1;
  color: #5e4c5a;
  border: 0.125rem solid rgba(94, 76, 90, 0.5);
  border-radius: 0.25rem;
}
.food__name::placeholder, .food__grams::placeholder {
  color: #5e4c5a;
}
.food__grams {
  width: 3em;
  direction: rtl;
}

.pantry {
  grid-area: pantry;
  min-height: 100%;
  min-width: 100%;
  padding-top: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "top" "bottom";
}
.pantry__top {
  grid-area: top;
}
.pantry__heading {
  text-align: center;
  text-transform: capitalize;
}
.pantry__bottom {
  grid-area: bottom;
  padding: 1em 0;
  overflow-y: scroll;
}
.pantry__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
}
@media (max-width: 1350px) {
  .pantry__list {
    grid-template-columns: 1fr;
  }
}
.card {
  background: rgba(94, 76, 90, 0.25);
  color: #ffe2d1;
  padding: 0.5em 0;
  text-align: center;
  border-radius: 2em;
  margin: 0 1em;
  box-shadow: 0 0 0.65em #ffe2d1;
  transition: all 250ms;
}
.card:hover {
  background: rgba(94, 76, 90, 0.5);
  box-shadow: 0 0 1.15em #E1F0C4;
}
.card__heading {
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #5e4c5a;
}
.card__text {
  margin: 0.5em 0;
  text-shadow: 2px 2px 2px #5e4c5a;
}
.card__list {
  list-style: none;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card__item {
  border-radius: 1em;
  padding: 0.25em;
}
.card__carbs {
  margin-left: 0.5em;
  color: rgba(255, 226, 209, 0.75);
  background: rgba(94, 76, 90, 0.85);
}
.card__protein {
  margin: 0 0.5em;
  color: rgba(225, 240, 196, 0.75);
  background: rgba(85, 145, 127, 0.85);
}
.card__fat {
  margin-right: 0.5em;
  color: rgba(94, 76, 90, 0.75);
  background: rgba(255, 226, 209, 0.85);
}

.calories {
  text-align: center;
}

.stats {
  display: flex;
  grid-area: chart;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  padding: 1.5em 1em 1em 1em;
}
@media (max-width: 800px) {
  .stats {
    min-height: 65vw;
  }
}
.stats__placeholder {
  align-self: center;
  margin: 0 auto;
  font-size: 25rem;
}
.stats__chart {
  display: none;
}

.btn {
  border: initial;
  cursor: pointer;
  font: inherit;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
  font-weight: 700;
  display: inline-block;
}
.btn--access, .btn--food, .btn--clear-pantry {
  background: #ffe2d1;
  color: #5e4c5a;
}
.btn--access:hover, .btn--access:focus, .btn--food:hover, .btn--food:focus, .btn--clear-pantry:hover, .btn--clear-pantry:focus {
  animation: shake 750ms infinite;
}
.btn--delete {
  text-transform: uppercase;
  font-size: 2rem;
  background: #ffe2d1;
  color: #5e4c5a;
  transition: all 150ms;
}
.btn--delete:hover, .btn--delete:focus {
  font-size: 2.5rem;
  background: #5e4c5a;
  color: #ffe2d1;
}

@keyframes slide-in {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(5deg) scale(1.1);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-5deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
.snackbar {
  display: inline-block;
  position: fixed;
  background: #323232;
  color: #f1f1f1;
  min-height: 50px;
  min-width: 290px;
  padding: 16px 24px 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  top: 2rem;
  left: 1rem;
  font-size: 90%;
  transition: visibility 0.3s, transform 0.3s;
  transform: translateY(-100px);
  visibility: hidden;
  will-change: transform;
}

.snackbar--visible {
  visibility: visible;
  transform: none;
}
