*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  margin: 0;
  font: 400 1.5rem/1.6 "Poppins", sans-serif;
}

.hero {
  height: 3em;
}
.hero__heading {
  text-align: center;
  margin: 0;
}

.container {
  width: min(90%, 75em);
  margin-inline: auto;
}

.flex {
  display: flex;
}
.flex--forms {
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.flex--access {
  align-items: center;
}
.flex--food {
  justify-content: space-between;
  align-items: center;
}
.flex--pantry {
  justify-content: space-around;
  align-items: center;
}

.forms {
  text-align: center;
  border: 1px solid black;
}

.food {
  width: 100%;
}

.data {
  padding: 2em 0;
}

.pantry {
  min-height: 75vh;
  width: 40vw;
}
.pantry__heading {
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}
.pantry__top {
  height: calc(100% - 65vh);
}
.pantry__bottom {
  height: 65vh;
  overflow-y: scroll;
}

.calories {
  text-align: center;
}

.stats {
  position: relative;
  min-height: 75vh;
  width: 50vw;
}

.snackbar {
  display: inline-block;
  position: fixed;
  background: #323232;
  color: #f1f1f1;
  min-height: 50px;
  min-width: 290px;
  padding: 16px 24px 12px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  bottom: 1rem;
  left: 1rem;
  font-size: 90%;
  transition: visibility 0.3s, transform 0.3s;
  transform: translateY(100px);
  visibility: hidden;
  will-change: transform;
}

.snackbar--visible {
  visibility: visible;
  transform: none;
}
